html, body {
  margin: 0;
  height: 100%;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#nav a {
  margin-right: 20px;
}

#nav a.topimage {
  width: 20px;
  height: 20px;
  background: palevioletred;
  border-radius: 50%;
}

#middle {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  text-align: center;
}

#searchbarcontainer {
  text-align: center;
  margin-top: 15px;
}

#searchbar {
  outline: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 500px;
  border-radius: 20px;
  border: 1px solid #eee;
}

#searchbar:hover {
  box-shadow: 1px 1px 2px rgb(151, 151, 151);
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 15px;
  cursor: pointer;
  background: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: 1px solid transparent;
}

button:hover {
  border: 1px solid rgb(156, 156, 156);
}


#footer-left a {
  margin-left: 25px;
}

#footer-right a {
  margin-right: 25px;
}

#footer {
  background-color: #f2f2f2;
}

#footer-left {
  padding: 10px 5px;
  font-family: 'Roboto', sans-serif;
  float:left;
  margin-bottom: 10px;
  margin-top: 10px;
}

#footer-right {
  padding: 10px 5px;
  font-family: 'Roboto', sans-serif;
  float:right;
  margin-bottom: 10px;
  margin-top: 10px;
}

#footer-left, #footer-right {
  display: inline;
}

.toplink {
  font-family: 'Roboto', sans-serif;
}

